/* CSS para la sección de traductor */
.traductor {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lang-btn {
    background-color: #003b5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.lang-btn:hover {
    background-color: #002a47;
}

.flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
